[color]
	ui = true

[core]
	filemode = false
	autocrlf = false
	editor = /usr/local/bin/vim
	pager = diff-so-fancy | less --tabs=2 -RFX # https://github.com/so-fancy/diff-so-fancy
	excludesfile = ~/.gitignore_global

[alias]
	gds = diff --staged
	co = checkout
  lol = log --graph --decorate --oneline
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked

[push]
	default = simple

[include]
	path = ~/.gitconfig.local

[merge]
	conflictstyle = diff3
